@model Maozinha.UI.Web.ViewModel.ContaEntidadeViewModel

@{
    ViewBag.Title = "Cadastro realizado";
}

<div class="container body-content">
    <h3>Cadastro de ONG/Entidade realizado com sucesso</h3>

    Agora basta fazer login e divulgar seus projetos.

    <br />

    @Html.ActionLink("Entrar", "Index", "Home")
</div>