@model Maozinha.UI.Web.ViewModel.ContaEntidadeViewModel

@{
    ViewBag.Title = "Perfil Entidade";
}

<div class="container-fluid">
    <div class="col-md-2">
        <div class="menu_pagina">
            <img src="images/graac.jpg" height="200" width="200">
            <h2>GRAAC</h2>
            <h4>Sobre</h4>
            <h4>Projetos</h4>
            <h4>Mensagem</h4>
            <h4>Fotos</h4>
            <h4>Vídeos</h4>
        </div>
    </div>
    <div class="col-md-10">
        <h3 class="borda">Postagens</h3>
        <div class="resultado">
            <h3>GRAAC</h3>
            <div class="vagas">
                <h4>Vagas:</h4><span class="numero">27</span>
            </div>
            <img src="images/graac.jpg" height="380" width="380">
            <div class="info">
                <h4>Sobre:</h4><p>
                    Projeto com crianças carentes na região da zona leste
                </p>
                <h4>Local:</h4>Avenida Ministro Oscar Saraiva, 40
                <h4>Data:</h4>16/12/2016
                <br>
                <br>
                <a href="">Mais informações</a>
            </div>
            <label id="loginbutton1" class="uiButton uiButtonConfirm" for="u_0_l">
                <input type="submit" name="login" value="Dê uma mãozinha" id="login" class="btn btn-primary">
            </label>
            <div class="clearfix"></div>
        </div>
        <div class="resultado">
            <h3>GRAAC</h3>
            <div class="vagas">
                <h4>Vagas:</h4><span class="numero">9</span>
            </div>
            <img src="images/graac.jpg" height="365" width="680">
            <div class="info">
                <h4>Sobre:</h4><p>
                    Projeto de entretenimento com crianças portadoras de cancer
                </p>
                <h4>Local:</h4>Av Jorge Medeiros Ribeiro, 560
                <h4>Data:</h4>23/12/2016
                <br>
                <br>
                <a href="">Mais informações</a>
            </div>
            <label id="loginbutton2" class="uiButton uiButtonConfirm" for="u_0_l">
                <input type="submit" name="login" value="Dê uma mãozinha" id="login" class="btn btn-primary">
            </label>
            <div class="clearfix"></div>
        </div>
    </div>
</div>