<div class="col-md-2">
    <div class="menu_pagina">
        <img src="images/graac.jpg" height="200" width="200">
        <h2>GRAAC</h2>
        <h4>@Html.ActionLink("Projetos", "Projetos", "PerfilEntidade")</h4>
        <h4>@Html.ActionLink("Fotos", "Fotos", "PerfilEntidade")</h4>
    </div>
</div>
