<nav role="navigation" class="navbar navbar-default" style="margin-bottom: 2px;">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbarCollapse" aria-expanded="false">
            <span class="sr-only"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="nav navbar-nav">
                <li class="maozinha"><a href="#" style="font-size:22px;">Mãozinha</a></li>
                <li><input type="search" class="form-control" style="margin-right:47%;" id="busca" placeholder="Buscar usuários ou páginas"></li>
                <li>@Html.ActionLink("Meu Perfil", "IndexVoluntario", "Perfil")</li>
                <li>@Html.ActionLink("Meus Projetos", "ProjetosVoluntario", "Perfil")</li>
                <li>@Html.ActionLink("Sair", "Sair", "Perfil")</li>
            </ul>
        </div>
    </div>
</nav>
<div class="clr"></div>